*.aux
*.log
auto/
*.fdb_latexmk
*.fls
*.dvi
*.bbl
*.blg
*.out
*.synctex.gz
*~
**/.merlin
_build/
paper/appendix-aux.tex
paper/appendix-preservation.tex
paper/appendix-progress.tex
paper/appendix-thm1.tex
paper/appendix.tex
paper/conclusion.tex
paper/experiments.tex
paper/impl.tex
paper/intro.tex
paper/main.pdf
paper/main.tex
paper/preliminaries.tex
paper/related_work.tex
paper/semantics.tex
paper/typesystem.tex
paper/wf_rules.tex
src/test/to_mochi.ml
